@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------------Font Styles--*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu+Condensed", sans-serif;
    line-height: 1;
}

body {
    margin: 0;
    font-family: "Ubuntu+Condensed", sans-serif;
    line-height: 1;
}

.pagetitle {
    font-weight: 400;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: 400;
}

.navbar-light .navbar-brand:hover {
    color: rgb(43, 34, 119);
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #161061;
    font-weight: 500;
}

.jumbotron .h1, .jumbotron h1 {
    color: #ffffff;
}

.jumbotron .p, .jumbotron p {
    color: #ffffff;
}

.vidcard-header>h3 {
    color: #000;
    font-weight: 300;
}

.vidcard-header>a {
    color: #000;
    font-weight: 300;
    text-decoration: none;
}

.vidcard-header>a:hover {
    color: #000;
    font-weight: 300;
    line-height: 1.1;
}

/*--------------------------------------------------Call-Out--*/
.callout-bg {
    height: 100vh;
    background: url("../images/hero-01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*--------------------------------------------------Sign-Up--*/

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
    z-index: 1;
}

.signupmodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*--------------------------------------------------Nav Bar--*/

.navbar {
    width: 100vw;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}

/*--------------------------------------------------Footer Bar--*/

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    vertical-align: baseline;
 }

 .socialicons {
    float: right;
    position: relative;
    top: 20px;
    left: -10px;
}

.heading-footer {
    /*font-size: 18px;*/
    color: #fffafa;
    font-weight: 500;
    margin-left: 15px;
}

.text-footer {
    /*font-size: 16px;*/
    color: #fffafa;
    font-weight: 200;
    list-style-type: none
}

.main-heading {
    /*font-size: 28px;*/
    font-weight: 600;
    color: #333;
}

.sub-heading {
    /*font-size: 20px;*/
    font-weight: 400;
    color: #333;
}
/*--------------------------------------------------Container--*/
.container-fluid {
    margin: 0;
    padding: 0;
    width:100%;
    overflow: scroll;
}

/*--------------------------------------------------Video & Gallery--*/

.card-body {
    flex: auto;
    padding: 1.25rem;
}

.video-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #e6ea0f73;
    
}

@media only screen and (max-width: 414px) {
    .video-card {
        flex: auto;
        max-width: 410px;
        border-top-left-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #e6ea0f73;
        }
    }

.image-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #e6ea0f73;
    
}

@media only screen and (max-width: 414px) {
    .image-card {
        flex: auto;
        max-width: 410px;
        border-top-left-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #e6ea0f73;
        }
    }
.discuss-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #0f75ea93;
    
}

@media only screen and (max-width: 414px) {
    .discuss-card {
        flex: auto;
        max-width: 410px;
        border-top-left-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #0f75ea93;
        }
    }

.cal-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #ea0f0fc2;
    
}
@media only screen and (max-width: 414px) {
.cal-card {
    flex: auto;
    max-width: 410px;
    border-top-left-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #ea0f0fc2;
    }
}

/*--------------------------------------------------Image-Modal--*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.img-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.img-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.img-close:hover,
.img-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*--------------------------------------------------Calandar--*/


/*--------------------------------------------------Buttons--*/

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: #eac70fba;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: inherit;
    border-image: initial;
}

button-close,
.close {
    color:#ff0000;
}

button-close,
.close:hover {
    color:#ff0000;
}
/*--------------------------------------------------Media-Queries--*/
/*  Auto-resizable-iframe code was sourced from  */ 
/* https://stackoverflow.com/users/432801/darwin */

.auto-resizable-iframe {
  max-width: 420px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


/* Responsive iFrame for google calandar sourced from https://profromgo.com/blog/google-calendar-responsive/ */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
border-radius: 8px;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



@media only screen and (max-width: 414px) {
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}


@media only screen and (min-width: 415px) {
.vidcard-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}