@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------------Wrapper & body--*/
#wrapper {
    display: block;
    position: fixed;
    min-height: 100vh;
    width: 100w;
    top: 0px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
}

/*--------------------------------------------------Container--*/

.container-fluid {
    top: 50px;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        top: 50px;
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow: scroll;
    }

}

/*--------------------------------------------------Font Styles--*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu+Condensed", sans-serif;
    line-height: 1;
}

body {
    margin: 0;
    font-family: "Ubuntu+Condensed", sans-serif;
    line-height: 1;
    margin-bottom: 60px;
}

.pagetitle {
    font-weight: 400;
    margin-top: 50px;
    padding: 15px;
}


a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.4s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);        
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

@media only screen and (max-width: 320px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 1.5rem;
        color: #ffffff;
    }
}

.jumbotron .p, .jumbotron p {
    color: #ffffff;
}

.vidcard-header>h3 {
    color: #000;
    font-weight: 300;
}

.vidcard-header>a {
    color: #000;
    font-weight: 300;
    text-decoration: none;
}

.vidcard-header>a:hover {
    color: #000;
    font-weight: 300;
    line-height: 1.1;
}


/*--------------------------------------------------Call-Out--*/

.callout-bg-lg {
    height: 100vh;
    background: url("../images/RingOfRath-Large.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.callout-bg-md {
    /*height: 100vh;*/
    background: url("../images/RingOfRath-Medium.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*--------------------------------------------------Sign-Up modal & button Styles-*/

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #0d1e2fad;
    z-index: 1;
}

.signup-modal {
    position: absolute;
    max-width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #856404d9;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
@media only screen and (max-width: 320px) {
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    }
}

.help-block {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*--------------------------------------------------Nav Bar Header--*/
.sticky {
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    height: 50px;
    background-color: #313131;
    margin-bottom: 0px;
    }

.navbar-dark .navbar-toggler{
    color: rgba(0, 0, 0, 0.71);
    border-color: rgba(0,0,0,.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.74);
    transition-duration: 0.8s;
    padding-top: 12px;
    padding-bottom: 11px;
    padding: 10px;
    text-align: left;
    
}

/* for the media header nav only */
.bg-header-col {
    background-color: #3c5b6dad;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.74);
    transition-duration: 0.8s;
    padding-top: 12px;
    padding-bottom: 11px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    background-color: transparent;    
}

@media only screen and (max-width: 768px) {
.navbar-dark .navbar-nav .nav-link {
    text-align: center;
    color:rgba(255, 255, 255);
    font-weight: 500;
    background-color: #0d1e2fc4;
    }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(252, 252, 252);
}

.navbar-brand {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand {
    transition-duration: 0.8s;
}

.navbar-brand:hover {
    transition-duration: 0.8s;
}


/*--------------------------------------------------Footer--*/
#footer {
    position:fixed;
    bottom: 0;
    position: fixed;
    width: 100vw;
    
}


@media only screen and (max-width: 414px) {
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 1px;
    padding-top: 0px;
    }
}


@media only screen and (max-width: 320px) {
    .socialicons {
    color: #ffffff;
    padding-top: 0px;
    font-size:10px;
    padding: 0px;
    margin: 0pcx
            }
}

.meetup-title {
    font-size: 22px;
    color: #fffafa;
    font-weight: 200;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/*--------------------------------------------------Video & Gallery--*/

.card-body {
    flex: auto;
    padding: 1px;
}

.card-body p {
    flex: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2px;
}

.video-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #e6ea0f73;
}

@media only screen and (max-width: 414px) {
    .video-card {
        flex: auto;
        max-width: 410px;
        border-top-left-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #e6ea0f73;
    }
}

.image-card {
    flex: auto;
    max-width:240px;
    padding: 5px;
    margin: auto;
    background-color: #fcfdfdc4;
    box-shadow: 8px 8px #3d421738;
    transition-duration: 0.8s;
}

.image-card:hover {
    cursor: pointer;
    transition-duration: 0.8s;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);        
}

@media only screen and (max-width: 414px) {
    .image-card {
        flex: auto;
        max-width: 320px;
        border-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #fcfdfdc4;
    }
}

.discuss-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #fcfdfdc4;
}

@media only screen and (max-width: 414px) {
    .discuss-card {
        flex: auto;
        max-width: 410px;
        border-top-left-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #0f75ea93;
    }
}

img {
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
    
}
.cal-card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #ea0f0fc2;
}

@media only screen and (max-width: 414px) {
    .cal-card {
        flex: auto;
        max-width: 410px;
        border-top-left-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #ea0f0fc2;
    }
}



/*--------------------------------------------------Image-Modal--*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.img-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.img-close {
    position: absolute;
    top: 55px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.img-close:hover,
.img-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*--------------------------------------------------Calandar--*/


/*--------------------------------------------------Buttons--*/

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: #eac70fba;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: inherit;
    border-image: initial;
}

button-close,
.close {
    color: #ff0000;
}

button-close,
.close:hover {
    color: #ff0000;
}


/*--------------------------------------------------Media-Queries--*/


/*  Auto-resizable-iframe code was sourced from  */


/* https://stackoverflow.com/users/432801/darwin */

.auto-resizable-iframe {
    max-width: 420px;
    margin: 0px auto;
}

.auto-resizable-iframe>div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


/* Responsive iFrame for google calandar sourced from https://profromgo.com/blog/google-calendar-responsive/ */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 414px) {
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 415px) {
    .vidcard-header {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}