@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------------Font Styles--*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu+Condensed", sans-serif;
    line-height: 1;
}

body {
    margin: 0;
    font-family: "Ubuntu+Condensed", sans-serif;
    line-height: 1;
}

.pagetitle {
    font-weight: 400;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: 400;
}

.navbar-light .navbar-brand:hover {
    color: rgb(43, 34, 119);
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #161061;
    font-weight: 500;
}

.jumbotron .p, .jumbotron p {
    color: #08ef11;
}

.jumbotron .h1 .jumbotron h1 {
    color: #08ef11;
    font-weight: 300;
}

.vidcard-header>h3 {
    color: #000;
    font-weight: 300;
}

.vidcard-header>a {
    color: #000;
    font-weight: 300;
    text-decoration: none;
}

.vidcard-header>a:hover {
    color: #000;
    font-weight: 300;
    line-height: 1.1;
}

/*--------------------------------------------------Call-Out--*/
.callout-bg {
    height: 100vh;
    background: url("../images/hero-01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*--------------------------------------------------Sign-Up--*/

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
    z-index: 1;
}

.signupmodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*--------------------------------------------------Nav Bar--*/

.navbar {
    width: 100vw;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}

/*--------------------------------------------------Footer Bar--*/

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    vertical-align: baseline;
 }

.socialicons {
    float: right;
    position: absolute;
    top: 64%;
    left: 50%;
}

.heading-footer {
    /*font-size: 18px;*/
    color: #fffafa;
    font-weight: 500;
    margin-left: 15px;
}

.text-footer {
    /*font-size: 16px;*/
    color: #fffafa;
    font-weight: 200;
    list-style-type: none
}

.main-heading {
    /*font-size: 28px;*/
    font-weight: 600;
    color: #333;
}

.sub-heading {
    /*font-size: 20px;*/
    font-weight: 400;
    color: #333;
}
/*--------------------------------------------------Container--*/
.container-fluid {
    margin: 0;
    padding: 0;
    width:100%;
    overflow: scroll;
}

/*--------------------------------------------------Video & Gallery--*/

.card-body {
    flex: auto;
    padding: 1.25rem;
}

.card {
    flex: auto;
    max-width: 420px;
    padding: 5px;
    margin-top: 10px;
    background-color: #eac70fba;
    
}

/*--------------------------------------------------Calandar--*/


/*--------------------------------------------------Buttons--*/

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: #eac70fba;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: inherit;
    border-image: initial;
}

button-close,
.close {
    color:#ff0000;
}

button-close,
.close:hover {
    color:#ff0000;
}
/*--------------------------------------------------Media-Queries--*/
/*  Auto-resizable-iframe code was sourced from  */ 
/* https://stackoverflow.com/users/432801/darwin */

.auto-resizable-iframe {
  max-width: 420px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


/* Responsive iFrame for google calandar sourced from https://profromgo.com/blog/google-calendar-responsive/ */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



@media only screen and (max-width: 414px) {
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}


@media only screen and (min-width: 415px) {
.vidcard-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}