
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------------Hero Image--*/

.callout-container {
    height: 100vh;
    background: url("../images/hero-01.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}

/*--------------------------------------------------Font Colours--*/
.jumbotron .h1, .jumbotron h1 {
    color: #ffffff;
}

.jumbotron .p, .jumbotron p {
    color: #ffffff;
}

/*--------------------------------------------------Font Styles--*/

.navbar-nav a {
    font-family: "Ubuntu+Condensed", sans-serif;
    font-size: 18px;
    font-weight: 600;
}


.navbar-nav li>a {
    font-family: "Ubuntu+Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.navbar-btn-collaps {
    font-family: "Ubuntu+Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.sub-heading {
    font-family: "Ubuntu+Condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.plain-text {
    font-family: "Ubuntu+Condensed", sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.footer,
.sub-heading {
color: #ffffff
}

.footer,
.plain-text {
color: #ffffff
}

/*--------------------------------------------------Nav Bar--*/
.navbar-home {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.navbar-pages {
    margin-bottom: 0;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    background-color: #ff000029;
    
}
.navbar-nav {
text-align: left;
}

.navbar-btn {
    float: right;
}

.navbar-btn-collaps {
    float: left;
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
}

.navbar-btn-collaps:focus,
.navbar-btn-collaps:active:focus {
    float: left;
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}
.nav-icon-bar {
    float: right;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
}

.navbar-default .navbar-brand {
    color: rgba(253, 253, 253, 0.8);
    transition-duration: .4s;
}

.navbar .navbar-brand:hover {
    color: #ffffff;
}

.navbar .navbar-brand:focus {
    color: #ffffff;
}

.navbar .navbar-brand>li>a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(253, 253, 253, 0.8);
    transition-duration: .4s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    transition-duration: .4s;
}


/*--------------------------------------------------Butons--*/

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: rgba(3, 241, 29, 0.73);
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: inherit;
    border-image: initial;
}

button-close,
.close {
    color:#ff0000;
}

button-close,
.close:hover {
    color:#ff0000;
}
/*--------------------------------------------------Hover--*/



/*--------------------------------------------------Footer--*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 20px;
    z-index: 1; 
}

.footer-bg-color {
    background-color: rgba(0, 0, 0, 0.1);
}
.social-links {
    padding-bottom: 0;
    margin-bottom: 15px;
}

.social-links>li>a {
    font-size: 18px;
    color: #ffffff;

}
.social-xs {
    text-align: right;
    float: right;
}

.social-icons {
    padding: 5;
    vertical-align: top;
    line-height: 50px;
}
.social-meets>li,i {
    font-size: 16px;
    color: #ffffff;
    list-style-type: none;
}
